* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(252, 183, 197);
    font-size: 1.2vw;
}
.logo {
    height: 5vw;
    
}
#header {
    width: 100%;
    padding: 15px;
    background: rgb(52, 47, 79);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    
}
#header h1 {
    color: white;
}
#header h4 {
    color: rgb(129, 124, 160);
}
#main {
    display: flex;
    flex-wrap: nowrap;
    margin: 2vw;
}
#main h1, #main h2 {
    color: rgb(78, 76, 92);
}
#main > div {
    margin: 1vw;
    border-radius: 0.8vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1vw 0;
}
#class-block {
    width: 70vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: rgb(255, 255, 255);
    
}
#classes-menu {
    width: 30vw;
    background: rgb(255, 255, 255);
    
}

#classesList {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: calc(100% - 2vw);
    padding: 0;
    margin: 1vw;
}
#classesList li {
    padding: 1vw 1.5vw;
    list-style: none;
    background: rgb(78, 76, 92);
    color: white;
    font-size: 1.2em;
    margin: .5vw 0;
    border-radius: .4vw;
    width: calc(100% );
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


#class-list-management {
    align-items: center;
    justify-content: center;
    padding: 1vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mark-generation-form {
    align-items: center;
    justify-content: center;
    padding: 1vw;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.dark {
    background:rgb(78, 76, 92);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.light {
    background:rgb(255, 255, 255);
    color: rgb(78, 76, 92);
}
.dark input {
    padding: .8vw;
    background: none;
    border: none;
    border-bottom: 2px rgb(255, 255, 255) solid;
    transition: all .3s ease;
    color: white;
}

.dark input::placeholder {
    color: rgba(255, 255, 255, 0.8)
}
.dark input:focus {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 2px rgba(255, 255, 255, 0) solid;
}

.light input {
    padding: .8vw;
    background: none;
    border: none;
    border-bottom: 2px rgb(78, 76, 92) solid;
    transition: all .3s ease;
    color: rgb(78, 76, 92);
}
.light input::placeholder {
    color: rgba(78, 76, 92, 0.8)
}
.light input:focus {
    background: rgba(78, 76, 92, .2);
    border-bottom: 2px rgba(255, 255, 255, 0) solid;
}
.num-input {
    width: 5vw;
    margin: 0 .5vw;
}
#classInput {
    width: 40%;
}
#students-list {
    background: rgb(255, 255, 255);
    color: rgb(78, 76, 92);
    width: 100%;
    padding: 1vw;
    border-top: rgba(78, 76, 92, .5) dotted 0.2vw;
    margin-top: 1vw;
    font-size: 1.5vw;
    text-transform: capitalize;
}
.studentsTable {
    border: 1px solid rgb(78, 76, 92);
    border-collapse: collapse;
    margin: 1vw 0;
    width: calc(100%);
}
.studentsTable td, #studentsTable td {
    border: 1px solid rgb(152, 152, 156);
    padding: 0.5vw;
    
}


.studentsTable td:nth-child(3), .studentsTable td:nth-child(1) {
    width: 12%;
    text-align: center;
    height: 4vw;
}
.studentsTable thead {
    color: white;
    background: rgb(78, 76, 92);
    font-weight: bold;
    font-size: 1.1em;
}
.btn {
    border: none;
    padding: 1vw 1.5vw;
    background: rgb(190, 67, 67);
    color: white;
    letter-spacing: 0.12vw;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
    border-radius: .2vw;
    margin: 0.5vw;
    transition: all .5s ease;
}

.btn:hover {
    background: rgb(243, 118, 118);
}
input:focus, button:focus {
    outline: none;
}

.delete-btn {
    width: 3vw;
    opacity: 0;
    transition: all .2s  ease;
    cursor:pointer;
}
.delete-btn:hover, .delete-btn-std:hover {
    transform: scale(1.1);
}
.delete-btn-std {
    width: 2.5vw;
    opacity: 1;
    display: none;
    transition: all .2s  ease;
    cursor:pointer;
}




#gradient {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, 
    rgb(114, 0, 0),
    rgb(151, 0, 0),
    rgb(177, 27, 0),
    rgb(184, 73, 0),
    rgb(189, 92, 0),
    rgb(187, 112, 0),
    rgb(187, 137, 0),
    rgb(187, 153, 0),
    rgb(187, 184, 0),
    rgb(148, 182, 0),
    rgb(106, 182, 0),
    rgb(48, 170, 0),
    rgb(0, 150, 72)
    );
}
#gradient2 {
    width: 100%;
    height: 40px;  
}
#gradient2 span {
    height: 40px;
    width: 40px;
}
.mark-td {
    font-weight: bold;
    
}
.mark0 {
    color:rgb(114, 0, 0);
}
.mark1 {
    color:rgb(151, 0, 0);
}
.mark2 {
    color:rgb(177, 27, 0);
}
.mark3 {
    color:rgb(184, 73, 0)
}
.mark4 {
    color:rgb(189, 92, 0)
}
.mark5 {
    color:rgb(187, 112, 0)
}
.mark6 {
    color:rgb(187, 137, 0)
}
.mark7 {
    color:rgb(187, 153, 0)
}
.mark8 {
    color:rgb(187, 184, 0)
}
.mark9 {
    color:rgb(148, 182, 0)
}
.mark10 {
    color:rgb(106, 182, 0)
}
.mark11{
    color:rgb(48, 170, 0)
}
.mark12 {
    color:rgb(0, 150, 72)
}
#clearData {
    transform: translateX(calc(50vw - 50%));
}

@media (max-width: 720px) {
    #main {
        flex-flow: column-reverse nowrap;
    }
    
    #main > div{
        width: 100%;
        margin: .6em 0;
    }
    body {
        font-size: 1em;
    }
    .logo {
        height: 20vw
    }
    #main form {
        margin: .5em;
        padding: .5em
    }
    .btn {
        padding: 1em;
        border-radius: 0.5em;
        margin: 0.8em 0.4em;
    }
    .num-input {
        width: 3em
    }
    .dark input, .light input {
        padding: 0.75em
    }
    #classInput {
        width: initial;
    }
    #students-list {
        font-size: 1em
    }
    .delete-btn-std, .delete-btn {
        width: 1em;
    }
}